<ion-view view-title="Patients-Page">

<!-- The header of the page -->   
<ion-header-bar class="bar-dark">
    <h1 class="title">Patients</h1>
    
    <!-- Button used to create a new Patient -->
    <button class="button button-icon" ng-click=newPatient()>
        <i class="icon ion-compose"></i>
    </button>
</ion-header-bar>
    
<!-- The main content for this page -->
<ion-content >        
    <!-- A list that displays the name of every patient in the patient array in the Patients controller -->
    <ion-list>
        <ion-item ng-repeat="patient in patients">
            <div class="item item-button-right">
            {{patient.Name}}
                
            <!-- This button appears on every item, and it sets the current ID to the selected patient and also changes to view to the specific patients info -->
            <button ui-sref="specific" ng-click=setID(patient.id) class="button button-outline button-dark">Edit</button>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
</ion-view>