  <div class="modal">
      
      
      <!-- Modal header bar -->
      <ion-header-bar class="bar-secondary">
          <h1 class="title">New Patient</h1>
          <button class="button button-clear button-positive" ng-click="closeNewPatient()">Cancel</button>
      </ion-header-bar>

    <!-- Modal content area -->
      <ion-content>
          <form ng-submit="createPatient(patient)" name="newPatient">
              <div class="list">
                  <label class="item item-input">
                      <input type="text" placeholder="Who are you adding?" ng-model="patient.Name">
                  </label>
                  
                  <label class="item item-input">
                      <input type="number" placeholder="Heart Rate Upper Limit" ng-model="patient.Heart_Rate_Upper" max="105" name="heartUpper">  
                  </label>
            
                  <div ng-show="newPatient.heartUpper.$touched && newPatient.heartUpper.$invalid">
                      <small style="color: red; display: block; text-align: center">Max value is 105</small>
                  </div>
            
                  <label class="item item-input">
                      <input type="number" placeholder="Heart Rate Lower Limit" ng-model="patient.Heart_Rate_Lower" min="50" name="heartLower">
                  </label>    
                  
                  <div ng-show="newPatient.heartLower.$touched && newPatient.heartLower.$invalid">
                      <small style="color: red; display: block; text-align: center">Min value is 50</small>
                  </div>
              </div>
        
              <div class="padding">
                  <button type="submit" class="button button-block button-positive">Submit Patient</button>
              </div>
          </form>
      </ion-content>
    </div>