<ion-view view-title="Patients-Page">

<ion-header-bar class="bar-dark">
    
    <button  class="button button-icon" ui-sref="home">
        <i class="ion-chevron-left"></i>
    </button>
    
    <h1 class="title" style="text-align:center">{{currentPatient.name}}</h1>
    
    <button class="button button-outline button-stable" ui-sref="home" ng-click="delete()">
        Delete
    </button>

</ion-header-bar>
    
    <ion-content class="padding">

        
        <div class="list">
            
            <!--Heart Rate Section ----------------------------------------------->
            <div class="item item-divider">
                Heart Rate
            </div>
            
            <form name="updateForm" ng-submit="update(updatedHeartUpper, updatedHeartLower)" novalidate>
                
                <label class="item item-input">
                    <span class="input-label"> Upper Limit</span>
                    <input name="heartUpper" type="number" placeholder={{currentPatient.Heart_Rate_Upper}} ng-model="updatedHeartUpper" max="105">
                </label>
                    
                    <div ng-show="updateForm.heartUpper.$touched && updateForm.heartUpper.$invalid">
                    <small style="color: red; display: block; text-align: center">Max value is 105</small>
                    </div>

                <label class="item item-input">
                    <span class="input-label"> Lower Limit</span>
                    <input name="heartLower" type="number" placeholder={{currentPatient.Heart_Rate_Lower}} ng-model="updatedHeartLower" min="50">
                </label>
                
                    <div ng-show="updateForm.heartLower.$touched && updateForm.heartLower.$invalid">
                    <small style="color: red; display: block; text-align: center">Min value is 50</small>
                    </div>
                
                <button style="float:left" type="submit" class="button button-full button-stable" ng-disabled="updateForm.$invalid">Update</button>
            </form>
            <!--Heart Rate Section ------------------------------------------------>
            
            
            
        </div>
    </ion-content>
</ion-view>